.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: var(--main-border);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e252e;
  position: relative;
}

@keyframes movenoti {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-8px) rotateY(180deg);
  }
  100% {
    transform: none;
  }
}

.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 15px;
  animation: movenoti 1s ease-in-out infinite;
}

.nav__noti-dot {
  left: 30px;
  bottom: 30px;
}
